---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';

const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const isHome = pathname === '/' || pathname === '';
---

<header>
	<nav>
		<h2><a href="/" class:list={{ active: isHome }}>{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/archive">Archive</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 16px;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a {
		text-decoration: none;
	}
	h2 a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 16px 8px;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
</style>
